header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;

    
    
}

/* Estilo para los enlaces de navegación */
nav ul {
    list-style-type: s;
    margin: 0;
    padding: 0;
    text-align: center;
    
}

nav li {
    display: inline;
    margin-right: 20px;
    
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
.qui_som {
    text-align: center;
}
/*div del logo central*/
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5%;
}

.carrusel {
    display: flex;
    animation: desplazar 60s infinite; /* Duración de la animación y repetición infinita */
    width: 100%;
    height: 5%;
}

.imagen {
    flex: 0 0 100%;
    text-align: center;
}

.imagen img {
    width: 100%;
    height: 25%;
}

@keyframes desplazar {
    0% {
        transform: translateX(0%);
    }
    33.33% {
        transform: translateX(-100%);
    }
    66.66% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0%);
    }
}